<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="./Folha.png"/>
  <div id="addButton">

    <ion-slides>
      <ion-slide>
        <img src="/src/app/home/Folha.png"/>
      </ion-slide>
    </ion-slides>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>

</ion-content>
