#slides{
    p{
        color: gray;
        // text-align: center;
    }
}

#inicio{
    ion-img{
        margin: 30px 30px 30px 30px;
        max-width: 200px;
        height: auto;
    }
}

#login-img{
    margin: 20px;
    max-width: 40px;
    height: auto;
}

ion-title{
    color: green;
}