<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Sotof
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
          <ion-img src="assets/img/Folha.png" id="login-img"></ion-img>

          <ion-card>
            <ion-card-content>

              <ion-item>
                <ion-input type="email" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Senha"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Confirmar Senha"></ion-input>
              </ion-item>
            
            </ion-card-content>
          </ion-card>

          <ion-button color="primary"(click)="Home()">Voltar</ion-button>
          <ion-button color="secondary">Concluir</ion-button>
        </div>
        
</ion-content>
